body{
    background-image: url(bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

}
.container{
    display: flex;
    
}
.head{
    width: 500px;
    height: 50px;
}

.navbar{
    display:flex;
    list-style: none;
    flex-direction: row;
    gap: 100px;
    color: azure;
}
.grid-container{
    display: grid;
    background-color: aliceblue;
    width: 1286px;
    height: 1000px;
    margin-top: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    gap:40px;
    font-family: 'Courier New', Courier, monospace;
    

}
.first{
    margin-left: 20px;
}
.contain1{
    display: flex;
    margin-top: 20px;
}
.image{
    width: 1286px;
    height: 500px;
    color: aliceblue;
    background-image: url(road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#name{
    margin-left: 300px;
}
#para{
    font-size: xx-large;
    margin-left: 100px;
}
#btn{
    align-items: center;
}